.gallery {
  margin-bottom: 120px;

  &__list {
    margin: 0;
    padding: 0;

    display: grid;

    list-style: none;

    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
  }

  &__pic {
    max-width: 350px;
    width: 100%;

    filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
  }

  @include _992 {
    margin-bottom: 70px;

    &__list { 
      column-gap: 20px;
    }

    &__pic {
      max-width: 260px;

      border-radius: 30px;
    } 
  }

  @include _768 {
    &__slider {
      max-width: 260px;
      margin: 0 auto;

      border-radius: 40px;

      overflow: hidden;

      filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
    }

    &__list {
      column-gap: 0;
    }

    &__item {
      text-align: center;

      border-radius: 30px;
    }


    &__pic {
      min-width: 260px;

      filter: none;
    } 
  }
}