$primaryBgColor: #222222;
$secondaryBgColor: #E5E5E5;
$blockBgColor: #F8F8F8;

$primaryColor: #FFFFFF;
$secondaryColor: #111111;

$primaryFontFamily: Inter, Arial, sans-serif;

$fontWeigthNormal: 400;
$fontWeigthBold: bold;

$fontSizeTitle: 60px;
$fontSizeSubtutle: 32px;
$fontSizeText: 16px; 